/* vim: set softtabstop=2 shiftwidth=2 tabstop=2 expandtab filetype=scss: */

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

.feed-icon {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
}

// Until we have some front-page articles, we should remove the "Subscribe to" link because it has confused
// people who simply want to sign in
.view-frontpage {
  .feed-icon { display: none }
}

.forum {
  .author {
    border: {
      bottom-left-radius: 10px;
      bottom-style: solid;
      bottom-width: 1px;
      left-style: solid;
      left-width: 1px;
    }
    margin: {
      bottom: 0.5em;
      left: 2em;
    }
    padding: {
      left: 1em;
    }
  }
}

.footer {
  .nav > li {
    float: left
  }
}

.jumbotron {
  .vertical-align {
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: absolute;
    top: 50%;
  }
  .container {
    position: relative;
    height: 100%;
    max-width: 100%;
  }
  .field--name-field-landing-image-text {
    color: rgb(255, 255, 255);
    h2 {
      font-size: 36px;
      line-height: 36px !important;
      margin-bottom: 10px !important;
    }
  }
  .a-spot-button {
    border: 1px solid #FFF;
  }
}
