/* vim: set softtabstop=2 shiftwidth=2 tabstop=2 expandtab filetype=scss: */

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

.feed-icon {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
}

// Until we have some front-page articles, we should remove the "Subscribe to" link because it has confused
// people who simply want to sign in
.view-frontpage {
  .feed-icon { display: none }
}
